{% extends 'base.html' %}

{% block content %}
<div class="dashboard admin-view-spots">
    <h2>Parking Spots - {{ lot.name }}</h2>
    <table>
        <thead>
            <tr>
                <th>Spot ID</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for spot in spots %}
            <tr>
                <td>{{ spot.id }}</td>
                <td>{{ spot.status }}</td>
                <td>
                    {% if spot.status == 'A' %}
                        <a href="{{ url_for('delete_spot', spot_id=spot.id) }}">Delete</a>
                    {% else %}
                        Occupied
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
